body {
  font: 11px sans-serif;
  font-weight: 400;
  text-align: center;
  background: #202020;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  margin: 25px 0px 25px 0px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.dot {
  stroke: none;
}
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.tooltip {
	background: lightsteelblue;   
	color: #202020;
	border-radius: 5px;
	position: absolute;
	padding: 10px;
	pointer-events: none;
	text-align: center;
	opacity: .25;
}

.scatterplot {
    margin-right: 100px;
    float: right;
}

.barchart {
	float: right;
}

#legend{
	min-width: 300px;
    padding: 20px
}

.legend {
	overflow: auto;
	text-align: left;
}

.legend .colorBox {
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.nutrition-label {
  float: left;
  margin: 0px 0px 0px 50px;
  width: 250px;
  height: 375px;
  background: #404040;
  color: #fff;
}

.wrap {
  width: 2000px;
  margin: 0 auto 0;
  display: flex;
}

table {
  width: 85%;
  margin: 0 auto 0;
  text-align: left;
}